

 body {
    
    
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    

 }

 main {
    height: 98%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


 }


 .conteudo {
    height: 60%;
    width: 45%;
    display: flex;
    background-color: white;
    border-radius: 10px;
 }

 .imagem-conteudo {
    /* height: 100%; */
    width: 50%;
    left:0;

}


.imagem {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

.informacoes {
    width: 50%;

}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif; */

.perfume {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    display: flex;
    letter-spacing: 4px;
    margin: 2rem 3rem 0 2rem;
    color: hsl(228, 12%, 48%)   


    


}

.informacoes .nome-produto {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: hsl(212, 21%, 14%);
    display: flex;
    /* justify-content: flex-start; */
    margin: 1rem 3rem 1.5rem 2rem;
}

.descricao-produto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
    margin: 0 0 0 2rem;
    color: hsl(228, 12%, 48%) 
}

.preco-produto-com-desconto {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 30px;
    max-height: 30px;
    padding: 1.5rem 0 2rem 2rem;
    color: hsl(158, 36%, 37%);  
    display:flex;
    align-items: center;

}

.preco-produto-sem-desconto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px ;
    position: relative;
    color: hsl(228, 12%, 48%);
    margin-left: 1rem;
    
}

.preco-produto-sem-desconto::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid hsl(228, 12%, 48%);
  }
  
  .preco-produto-sem-desconto::after {
    content: "";
    position: absolute;
    
    border-bottom: 1px solid hsl(228, 12%, 48%);
  }

  .btn {
    display: flex;
    margin: 0 0 1rem 2rem;
    width: 16rem;
    background-color: hsl(158, 36%, 37%);
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    

  }

.frase-btn {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 1rem;

}

.btn:hover{
    filter: brightness(1.3);
}